<nav>
  <mat-toolbar class="menu-toolbar" color="primary">
    <button class="menu-item" [routerLink]="['']" mat-icon-button aria-label="Home menu button">
      <mat-icon>home</mat-icon>
      <span>Benefits Manager</span>
    </button>
    <button class="menu-item" [routerLink]="['employee-list']" mat-icon-button aria-label="Employees List menu button">
      <mat-icon>people</mat-icon>
      <span>Employees List</span>
    </button>
    <button class="menu-item" [routerLink]="['employee']" mat-icon-button aria-label="Employee add menu button">
      <mat-icon>person_add</mat-icon>
      <span>Add Employee</span>
    </button>
  </mat-toolbar>
</nav>
