@import '../../../themes/variables.scss';
nav {
  font-size: 1rem;
  top: 0;
  position: fixed;
  height: $benefits-calc-header-height;
  width: 100%;
  box-shadow: 0 3px 6px 2px rgb(0 0 0 / 30%);
  .menu-toolbar {
    .menu-item {
      width: auto;
      padding: 0 0.5em;
    }
    mat-icon {
      padding: 0 0.3em;
    }
  }
  z-index: 1;
}
