@import "../../../themes/variables.scss";
:host {
  .wrapper {
    display: grid;
    grid: 1fr / 2fr 1fr;
    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    gap: 2rem 2rem;

    padding: 2rem;
    padding-bottom: 7rem;
    &__error {
      padding: 2rem;
      color: red;
    }
  }
  .employee {
    &__card {
      padding: 2rem;
    }
    &__title {
      margin-bottom: 1.5rem;
    }
    &__hr {
      margin: 1.5rem 0;
    }
    &__h1 {
      display: inline;
      font-size: 1.5rem;
    }
    &__icon {
      margin-right: 1rem;
    }
    &__field {
      max-width: 800px;
      min-width: 150px;
      width: 100%;
      display: block;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &__button-group {
      padding-top: 2rem;
    }
    &__submit {
      width: 200px;
      &--disabled {
        cursor: not-allowed;
      }
    }
  }
  .accordion {
    &__h2 {
      font-size: 1rem;
    }
    &__description {
      align-self: center;
    }
    &__icon {
      align-self: center;
      padding-right: 0.5rem;
    }
  }
  .dependent {
    &__field {
      max-width: 800px;
      min-width: 150px;
      width: 100%;
      display: block;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &__h3 {
      font-size: 1rem;
    }
    &__buttons > * {
      margin-right: 1rem;
    }
  }

}
