<div class="wrapper">
  <p *ngIf="error$ | async as error" class="wrapper__error">
    <strong>An error has occurred: {{error}}</strong>
  </p>
  <section class="employee">
    <mat-card class="employee__card">
      <mat-card-title class="employee__title">
        <mat-icon class="employee__icon">person_add</mat-icon>
        <h1 class="employee__h1">{{formTitle}}</h1>
      </mat-card-title>
      <hr class="employee__hr" />
      <mat-card-content>
        <form class="employee__form" novalidate (ngSubmit)="save()" [formGroup]="employeeForm">
          <mat-form-field class="employee__field" appearance="fill" *ngIf="employeeForm.get('firstName') as firstName">
            <mat-label>Employee First Name</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="firstName" autocomplete="nope"
              [errorStateMatcher]="errorStateMatcher" maxlength="50" placeholder="Employee First Name">
            <mat-hint>Please enter the employee's first name</mat-hint>
            <mat-error *ngIf="firstName.errors?.['required']">
              First Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="firstName.errors?.['minlength'] || firstName.errors?.['maxlength']">
              First name length must be between 3 and 50 characters
            </mat-error>
            <mat-error *ngIf="firstName.errors?.['pattern']">
              First name can contain only letters, dashes, or apostrophes
            </mat-error>

          </mat-form-field>

          <mat-form-field class="employee__field" appearance="fill" *ngIf="employeeForm.get('lastName') as lastName">
            <mat-label>Employee Last Name</mat-label>
            <input type="text" matInput formControlName="lastName" [errorStateMatcher]="errorStateMatcher"
              autocomplete="nope" maxlength="50" placeholder="Employee Last Name">
            <mat-hint>Please enter the employee's last name</mat-hint>
            <mat-error *ngIf="lastName.errors?.['required']">
              Last Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="lastName.errors?.['minlength'] || lastName.errors?.['maxlength']">
              Last name length must be between 3 and 50 characters
            </mat-error>
            <mat-error *ngIf="lastName.errors?.['pattern']">
              Last name can contain only letters, dashes, or apostrophes
            </mat-error>

          </mat-form-field>

          <mat-form-field class="employee__field" appearance="fill" *ngIf="employeeForm.get('ssn') as ssn">
            <mat-label>Employee Social Security Number</mat-label>
            <input type="text" matInput formControlName="ssn" [errorStateMatcher]="errorStateMatcher" maxlength="11"
              autocomplete="nope" placeholder="Employee Social Security Number (e.g., 999-99-999)">
            <mat-hint>Please enter the employee's Social Security Number</mat-hint>
            <mat-error *ngIf="ssn.errors?.['required']">
              Social Security Number is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="!ssn.errors?.['required'] && ssn.errors?.['pattern']">
              Social Security Number must be entered as ###-##-####
            </mat-error>

          </mat-form-field>
          <mat-accordion class="accordion" *ngIf="employeeForm.get('dependents') as FormArray">
            <mat-expansion-panel class="accordion__panel">
              <mat-expansion-panel-header>
                <mat-panel-title class="accordion__title">
                  <mat-icon class="accordion__icon">people</mat-icon>
                  <h2 class="accordion__h2">Add Dependents </h2>
                </mat-panel-title>
                <mat-panel-description class="accordion__description">
                  Click here to add any dependents for employee (i.e., spouse and/or children)
                </mat-panel-description>
              </mat-expansion-panel-header>
              <button mat-raised-button color="primary" (click)="addDependent()" *ngIf="dependents.length===0">Add
                Dependent</button>

              <div formArrayName="dependents" class="dependent">
                <div [formGroupName]="i" *ngFor="let dep of dependents.controls; let i=index">
                  <mat-panel-title class="dependent__title">
                    <h3 class="dependent__h3"> Dependent # {{i+1}} </h3>
                  </mat-panel-title>

                  <mat-form-field class="dependent__field" appearance="fill"
                    *ngIf="dep.get('firstName') as depFirstName">
                    <mat-label>Dependent First Name</mat-label>
                    <input type="text" matInput formControlName="firstName" [errorStateMatcher]="errorStateMatcher"
                      autocomplete="nope" maxlength="50" placeholder="Dependent First Name">
                    <mat-hint>Please enter the dependent's first name</mat-hint>
                    <mat-error *ngIf="depFirstName.errors?.['required']">
                      First Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="depFirstName.errors?.['minlength'] || depFirstName.errors?.['maxlength']">
                      First name length must be between 3 and 50 characters
                    </mat-error>
                    <mat-error *ngIf="depFirstName.errors?.['pattern']">
                      First name can contain only letters, dashes, or apostrophes
                    </mat-error>

                  </mat-form-field>

                  <mat-form-field class="dependent__field" appearance="fill" *ngIf="dep.get('lastName') as depLastName">
                    <mat-label>Dependent Last Name</mat-label>
                    <input type="text" matInput formControlName="lastName" [errorStateMatcher]="errorStateMatcher"
                      autocomplete="nope" maxlength="50" placeholder="Dependent Last Name">
                    <mat-hint>Please enter the dependent's last name</mat-hint>
                    <mat-error *ngIf="depLastName.errors?.['required']">
                      Last Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="depLastName.errors?.['minlength'] || depLastName.errors?.['maxlength']">
                      Last name length must be between 3 and 50 characters
                    </mat-error>
                    <mat-error *ngIf="depLastName.errors?.['pattern']">
                      Last name can contain only letters, dashes, or apostrophes
                    </mat-error>

                  </mat-form-field>

                  <mat-form-field class="dependent__field" appearance="fill" *ngIf="dep.get('ssn') as depSsn">
                    <mat-label>Dependent Social Security Number</mat-label>
                    <input type="text" matInput formControlName="ssn" [errorStateMatcher]="errorStateMatcher"
                      autocomplete="nope" maxlength="11"
                      placeholder="Dependent Social Security Number (e.g., 999-99-999)">
                    <mat-hint>Please enter the dependent's Social Security Number</mat-hint>
                    <mat-error *ngIf="depSsn.errors?.['required']">
                      Social Security Number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="!depSsn.errors?.['required'] && depSsn.errors?.['pattern']">
                      Social Security Number must be entered as ###-##-####
                    </mat-error>
                  </mat-form-field>
                  <div class="dependent__buttons">
                    <button mat-raised-button color="primary" *ngIf="(i+1) === dependents.controls.length"
                      (click)="addDependent()">Add Another Dependent</button>
                    <button mat-raised-button color="accent" (click)="dependents.removeAt(i)">Remove</button>
                  </div>
                  <hr *ngIf="(i+1) !== dependents.controls.length" />

                </div>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="employee__button-group">
            <button class="employee__submit" type="submit" mat-raised-button color="primary">Add Employee</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
  <benefit-price [benefitsCalculation]="employeeForm.valid ? (benefitCalculation$ | async) : null">
  </benefit-price>
</div>
